# .gitignore

# Environnement virtuel
mon_env/
__pycache__/

# Fichiers de configuration locaux
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
__pycache__/
.local/
.idea/

# Fichiers de configuration spécifiques à l'éditeur
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
